<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <NavLink class="link-2" href="">
                <p role="alert" style="text-align:center;"> >Error 404: Sorry the gopher must have took that page.</p>
                <div>
                    <div style="margin-left:auto;margin-right:auto;width:30px;height:11px;"> <img src="Images/gopher_hole.png" /></div>
                </div>
            </NavLink>

        </LayoutView>
    </NotFound>
</Router>

